<span class="glyphicon glyphicon-remove overlay-remove" {{action 'hideOverlay'}}></span>
<div class="overlay-view">
  <svg viewBox="0 0 219 148" width="100">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logoIcon"></use>
  </svg>
  <span>Loading</span>
  <span>{{message}}</span>
</div>
