{{#if devicesFound}}

  <label>My Mod is connected to:
      <span style="color: #00ff00; display:none;"
      data-toggle="tooltip"
      data-placement="right"></span>
  </label>

  <a {{action 'resetDevices'}}>Refresh</a>
  {{view "select"
    content=devices
    optionValuePath="content.path"
    optionLabelPath="content.path"
    selection=chosenPort
    value=null
    prompt="Please select a port..."
  }}
{{else}}
  <div>No devices were found to connect to.</div>
{{/if}}
