@import "bootstrap";
@import "variables";
@import "main-nav";
@import "sub-nav";

body { background-color: $body-background; }
a { text-decoration: none; }
h1 { color: $dark-font; }
h3 { color: $pink-font;}
.container-fluid {
  padding: 0;
}

.main-outlet {
  padding: 150px;
  float: right;
  width: calc(100% -  #{$main-nav-btn-width});
}

.motors-graph {
  height: 200px;
  width: 900px;
}

.slider-input {
  height: 30px;
  width: 600px;
}

.slider-input .handle {
  cursor: pointer;
}
