$main-nav-btn-width: 150px;


// COLORS
$comingle-blue: #09c3f2;
$comingle-pink: #e91e77;
$pink-wave: #d48dc9;
$yellow-wave: #fec945;
$green-wave: #dbe546;
$dark-blue: #222538;

$body-background: #f7f7f7;
$light-background: #ffffff;
$disabled-background: $dark-blue;

$light-font: $light-background;
$dark-font: $dark-blue;
$pink-font: $comingle-pink;
$disabled-font: #565c74;
$link-font-weight: 500;
