<div class="row">
  <div class="main-column">

    {{#if showOptions}}
      <div class="collapse-container">
        <div class="list-item col">
          <span>{{pattern.description}}</span>
          {{#each controlOption in pattern.controlOptions}}
            <div class="range-wrapper">
              <label>{{controlOption.pretty_name}}</label>
              {{slider-input
                data=controlOption
                rightHandleValue=controlOption.value
                maxValue=controlOption.max
                minValue=controlOption.min
                rightHandleValueChangeEnded='maxValueChanged'
                leftHandleValueChanged='minValueChanged'
                rangeLineColor=controlOption.color
              }}
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
