<h3>{{pattern.prettyName}}</h3>

<ul class='control-options'>
  {{#each controlOption in pattern.controlOptions}}
    <li>{{slider-input rightHandleValue=controlOption.value rangeLineColor=motorOne.color rangeLineColor='#e91e77'}}</li>
  {{/each}}
</ul>
