<div class="row">
  <header class="col-md-8 col-md-offset-2">
    <h1>Pleasure Playlist</h1>
    <button class="btn save-button">Save Playlist</button>
  </header>
</div>
{{#each pattern in model}}
  {{patterns/basic-pattern
    pattern=pattern
    selectPattern='startPlayingPattern'
    stopPlayingPattern='stopPlayingPattern'
    maxValueChanged='maxOptionValueChanged'
  }}
{{/each}}
