<nav class="app-nav">
  <div class="nav-logo">
    <svg viewBox="0 0 219 148" width="100">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logoIcon"></use>
    </svg>
  </div>
  {{#link-to 'user.quicky' class='nav-item'}}
    {{#if quickyIsActive}}
      <img src="assets/images/quicky-active.png">
    {{else}}
      <img src="assets/images/quicky-inactive.png">
    {{/if}}
    <span>Quicky</span>
  {{/link-to}}
  {{#link-to 'user.get_intimate' class='nav-item'}}
  {{#if getIntimateIsActive}}
    <img src="assets/images/intimate-active.png">
  {{else}}
    <img src="assets/images/intimate-inactive.png">
  {{/if}}
    <span>Get Intimate</span>
  {{/link-to}}
  {{#link-to 'user.create' class='nav-item'}}
    <img src="assets/images/patterns-inactive.png">
    <span>Set the Mood</span>
  {{/link-to}}
  <div class="nav-spacer"></div>
  {{#link-to 'user.account' class='nav-item'}}
    <img src="assets/images/patterns-inactive.png">
    <span>Account</span>
  {{/link-to}}
  <!-- <a class="nav-item nav-inactive" href="#">
    <img src="assets/images/patterns-inactive.png">
    <span>Patterns</span>
  </a> -->
</nav>
