<div class='motorOne'>
  <h3>{{motorOne.percentPhaseShift}}</h3>
  <div class='percent-phase-shift'>{{slider-input rightHandleValue=motorOne.percentPhaseShift}}</div>
</div>
{{motors-graph motorOne=motorOne motorTwo=motorTwo motorThree=motorThree}}

{{outlet}}
